<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<head><link rel="stylesheet" type="text/css" href="{{asset('css/add.css')}}"></head>
</head>
<body>
	<img src="img/chienchat.jpg" class="chienchat" alt="logoSPA" height="70%" width="100%">
<div class="container">
	<br>
	<h1 class="h1-header">Bienvenue sur le blog de la SPA</h1>
	<div class="header">
		<h3>Ce blog a pour but de partager avec vous les dernières actualités de notre association et ainsi vous faire découvrir notre monde autour du combat contre l'abandon des animaux. Des articles sont également à disposition pour vous aider à comprendre le comportement de votre animal et des conseils.</h3>
	</div><br><br>
<h1>LES ARTICLES:</h1><br>
</div>
</body>
</html>